body{

margin:0;
padding:0;

font-family: Arial;

background: linear-gradient(to bottom,#8896b8,#e5a08c);

display:flex;
justify-content:center;
align-items:center;

min-height:100vh;

}


.container{

background:white;

padding:40px;

width:500px;

border-radius:10px;

box-shadow:0px 0px 20px rgba(0,0,0,0.2);

margin-top:40px;
margin-bottom:40px;

}


h1{

text-align:center;
margin-bottom:30px;

}


.form-group{

display:flex;
align-items:center;

margin-bottom:15px;

}


label{

width:180px;

font-weight:bold;

}


input,select{

flex:1;

padding:8px;

border:1px solid #ccc;

border-radius:5px;

}


button{

width:100%;

padding:12px;

margin-top:20px;

background:#4CAF50;

border:none;

color:white;

font-size:16px;

border-radius:5px;

cursor:pointer;

}


button:hover{

background:#45a049;

}


.result{

margin-top:25px;

padding:15px;

background:#f2f2f2;

text-align:center;

border-radius:5px;

font-size:20px;

font-weight:bold;

}

.top-buttons{

text-align:right;
margin-bottom:15px;

}

.help-btn{

background:#2196F3;

padding:8px 15px;

border:none;

color:white;

border-radius:5px;

cursor:pointer;

}

.help-btn:hover{

background:#0b7dda;

}

.help-list{

font-size:18px;

line-height:1.8;

}